nav {
    box-shadow: 0 5px 15px rgba(0, 136, 255, 0.15);
    transition: 0.3s ease-in-out;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
li a:hover{
    color: #BDCFD9 !important;
}
li {
    padding: 0 20px;
    position: relative;
}

.active {
   color: #BDCFD9 !important;
}

#mobile {
    display: none;
}

#mobile i {
    color: #FFFFFF;
}

.profile-picture {
    display: none;
}
.input-username:active {
    background-color: white !important;
}
@media screen and (max-width: 769px) {

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -330px;
        width: 330px;
        height: 100vh;
        background: linear-gradient(135deg, #0088FF, #166ECC);
        box-shadow: 0 40px 60px rgba(0, 136, 255, 0.2);
        padding: 40px 0 0 0;
        transition: 0.3s ease-in-out;
        z-index: 111111;
    }

    #navbar.open {
        right: 0px;
    }

    #navbar li {
        margin-top: 2rem;
    }

    #navbar li a.fontSize {
        font-size: 1.1rem;
        text-align: left;
        color: #FFFFFF !important;
    }

    #navbar li a::before {
        content: "\203A";
        font-size: 2.5rem; 
        position: relative;
        top: 4px;
        padding-right: 4px;
        color: #BDCFD9;
    }

    #mobile {
        display: block;
    }
    
    #mobile i {
        font-size: 24px;
        cursor: pointer;
        position:relative;
        left: 2rem;
        color: #FFFFFF;
    }
}